body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#barraSuperior{
    background-color: red;
    display: inline-flex;
    width: 100%;
    height: 10%;
}

main {
    background-color: blue;
    display: inline-flex;
    width: 100%;
    min-height: 90%;
}

#barraLateral{
    background-color: pink;
    height: 50%;
    width: 15%;
    display: flex;
    flex-direction: column;
}

#listaTickets{
    margin: 0;
    background-color:blueviolet;
    max-height: 100px;
    overflow-y: scroll;
}
#contenedorBotones{
    background-color: aquamarine;
    height: 10%;
}